<h1>Welcome to PlexSessions!</h1>
<h2>This is the home page.</h2>

<body>
    <dl>
        <% confessions.forEach((conf)=> { %>
            <% if (conf.status) { %>
            <dt> Confession <%= conf.id %>:
            </dt>
            <dd>
                <%= conf.content %>
            </dd>
            <% } %>
            <% }) %>
    </dl>
</body>