<h1>Send in a confession!</h1>
<h2>They will be reviewed and posted</h2>
<form class="feedback-form" method="POST" action="/post">
    <div class="form-group">
        <label for="feedback-form-message">Message</label>
        <textarea type="text" placeholder="Enter your confession, then hit the submit button" class="form-control"
            id="feedback-form-message" rows="6" name="message"></textarea>
    </div>
    <button type="submit" class="btn btn-secondary float-right">Submit</button>
</form>